.app-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to new rows */
  max-width: 100rem;
  width: 100%;
  margin-left: auto; /* Center content horizontally */
  /* padding: 1rem; Add padding for spacing */
}

.content-container {
  flex: 1 1 70%; /* Content container takes 70% of the container width */
  max-width: 100%; /* Ensure content does not exceed 100% of its container */
  padding: 20px;
  order: 1; /* Place it on the left side */
}

.sidebar-container {
  flex: 1 1 25%; /* Sidebar takes 25% of the container width */
  max-width: fit-content; /* Set maximum width for sidebar */
  background-color:#212529; /* Example background color */
  padding: 20px;
  order: 2; /* Place it on the right side */
  /* border-radius: 1rem; */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .app-container {
    flex-direction: row;
    max-width: 80rem;
    width: 100%;
    margin: 2px; /* Center content horizontally */
    padding: 2px; /* Add padding for spacing */
  }

  .sidebar-container {
    flex: 1 1 20%;
    max-width: 20%;
    order: 1;
    margin-bottom: 1rem;
    padding: 1px;
  }

  .content-container {
    flex: 1 1 80%;
    max-width: 80%;
    padding: 2px;
    order: 2;
  }
}
